<div id="<%= dom_id location %>">
  <p>
    <strong>名称: </strong>
    <%= location.name %>
  </p>
  
  <p>
    <strong>住所: </strong>
    <%= location.address %>
  </p>

  <p>
    <strong>緯度: </strong>
    <%= location.latitude %>
  </p>

  <p>
    <strong>経度: </strong>
    <%= location.longitude %>
  </p>

</div>
