<p style="color: green"><%= notice %></p>

<%= render @location %>

<div>
  <%= link_to "編集", edit_location_path(@location) %> |
  <%= link_to "一覧に戻る", locations_path %>

  <%= button_to "削除", @location, method: :delete %>
</div>
